{{'chantilly-footer.scss.css' | asset_url | stylesheet_tag}}
<div class="footer-container">

  <div class="main-footer container-fluid border-b-[1px] border-solid border-[#ecd6d1]">
    <div class="row link-and-description-row justify-between gap-y-12 pt-[3.75rem] pb-[5rem] px-7">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'description' %}
            {% if block.settings.description_text %}
              <div class="footer-description col col-12 col-md-6 col-lg-auto">
                {{block.settings.description_text}}


                {% if block.settings.description_img %}
                  <div class="img-wrapper w-[150px]">
                    <img class="w-full" src="{{block.settings.descripotion_img | img_url: "large"}}" alt="">

                  </div>
                {% elsif block.settings.description_img_src %}
                  <div class="img-wrapper w-[150px]">
                    <img class="w-full" src="{{block.settings.description_img_src}}" alt="">

                  </div>

                </div>
              {% endif %}
            {% endif %}
          {% when 'menu' %}
            {% if block.settings.first_menu %}

              <div class="link-list col col-12 col-md-6 col-lg-auto">
                <h6 class="chantilly-menu-footer-title">{{block.settings.first_menu.title}}</h6>
                {% if block.settings.first_menu.links.size > 0 %}
                  <ul class="link-list-items">
                    {% for item in block.settings.first_menu.links %}
                      <li>
                        <a href="{{item.url}}" class="footer-menu-item">{{item.title}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endif %}

            {% if block.settings.second_menu %}
              <div class="link-list col col-12 col-md-6 col-lg-auto">
                <h6 class="chantilly-menu-footer-title">Shop</h6>
                {% if block.settings.second_menu.links.size > 0 %}
                  <ul class="link-list-items">
                    {% for item in block.settings.second_menu.links %}
                      <li>
                        <a href="{{item.url}}" class="footer-menu-item">{{item.title}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endif %}

          {% when 'email_subscriber' %}

            <div class="email-subscriber col col-12 col-md-6 col-lg-auto">
              <h6 class="chantilly-menu-footer-title">{{block.settings.title}}</h6>
              <p>{{block.settings.description}}</p>

              <form action="" method="post" class="subscribe-email-form">
                <input type="email" class="form-control chantilly-input mb-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                <button type="submit" class="chantilly-button button-hover-orange uppercase">Sign up</button>
              </form>

              {% render 'social-link' %}
            </div>

        {% endcase %}
      {% endfor %}

    </div>
  </div>
  <div class="bottom-footer-container container-fluid footer-bg-color">
    <div class="bottom-footer flex flex-col-reverse gap-4 md:flex-row justify-between px-8 py-[3.75rem]">
      <div class="left-bottom-footer-side">
        <select class="form-select mb-3 w-fit">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <span class="copyright-text">© 2022 CHANTILLY. Website template by Shopify</span>
      </div>
      <div class="right-bottom-footer-side flex flex-col gap-y-6">
        {% render 'payment-list-icon' %}
        <div class="policy-and-term flex justify-start md:justify-end gap-4">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "class": "footer-section",
    "settings": [
      {
        "id": "upper_footer_bar_bg-color",
        "type": "color",
        "label": "Upper Footer Bar Background Color",
        "default": "#f7f1f0"

      }, {
        "id": "main_footer_bg_color",
        "type": "color",
        "label": "Main Footer Color",
        "default": "#f4dfdb"
      }
    ],

    "blocks": [
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "id": "description_text",
            "type": "richtext",
            "label": "Description Text",
            "default": "<p></p>"
          }, {
            "id": "description_img",
            "type": "image_picker",
            "label": "Description Image"
          }, {
            "id": "description_img_src",
            "type": "url",
            "label": "Description Image Source"
          }
        ]
      }, {
        "type": "menu",
        "name": "Footer Menu",
        "limit": 1,
        "settings": [
          {
            "id": "first_menu",
            "type": "link_list",
            "label": "First Footer Menu"
          }, {
            "id": "second_menu",
            "type": "link_list",
            "label": "Second Footer Menu"
          }
        ]
      }, {
        "type": "email_subscriber",
        "name": "Email Subsrciber",
        "limit": 1,
        "settings": [
          {
            "id": "title",
            "label": "Email Title",
            "type": "text",
            "default": "Join our email list!"
          }, {
            "id": "description",
            "label": "Email Description",
            "type": "textarea",
            "default": "Get 15% off your first purchase! Plus, be the first to know about sales, new product launches and exclusive offers!"
          }, {
            "id": "show_social",
            "label": "Show Social",
            "type": "checkbox",
            "default": true
          }
        ]

      }
    ],
    "presets": [
      {
        "name": "Layout Footer",
        "category": "Layout Section"
      }
    ]
  }
{% endschema %}