{{ 'home-collection.scss.css' | asset_url | stylesheet_tag}}
<link type="text/css" href="{{ 'home-collection.scss.css' | asset_url }}" rel="stylesheet">

<div class="home-collection-container desktop container mobile:hidden tablet:block px-4 py-8">
  <div class="row g-4">
    {% for link in linklists['swimwear'].links %}
      {% assign handleizedTitle = link.title | handleize %}
      {% assign col = collections[handleizedTitle] %}
      {% assign colImg = col.image %}
      <div class="col col-6 col-xl-3">
        <div class="collection-card-wrapper w-full pt-[160%] relative">
          <a href="{{link.url}}" class="btn btn-light collection-link align-element-center text-[0.9rem] px-4 py-3">{{link.title | upcase}}
          </a>
          <div class="card-img-container absolute -z-10 top-0 left-0 w-full h-full">
            {% if colImg != blank %}
              <img class="card-img w-full h-full object-cover object-center" src="{{colImg | img_url: 'master'}}"/>
            {% else %}
              {{'product-1' | placeholder_svg_tag: 'card-img w-full h-full object-cover object-center'}}

            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div id="collection-card-slide" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
    {% assign count = 0 %}
    {% for link in linklists['swimwear'].links %}
      <button type="button" data-bs-target="#collection-card-slide" data-bs-slide-to="{{count}}" class="active" aria-current="true" aria-label="Slide {{count | plus: 1}}"></button>
      {% assign count = count | plus: 1 %}
    {%endfor%}
  </div>
  <div class="carousel-inner">
    <div class="home-collection-container mobile px-4 py-8 mobile:block tablet:hidden">
      {% assign isActive = true %}
      {% for link in linklists['swimwear'].links %}
        {% assign handleizedTitle = link.title | handleize %}
        {% assign col = collections[handleizedTitle] %}
        {% assign colImg = col.image %}

        <div class="collection-card-wrapper w-full pt-[160%] relative carousel-item {% if isActive %}active{% assign isActive = false %}{% endif %}">
          <a href="{{link.url}}" class="btn btn-light collection-link align-element-center text-[0.9rem] px-4 py-3">{{link.title | upcase}}
          </a>
          <div class="card-img-container absolute -z-10 top-0 left-0 w-full h-full">
            {% if colImg != blank %}
              <img class="card-img w-full h-full object-cover object-center" src="{{colImg | img_url: 'master'}}"/>
            {% else %}
              {{'product-1' | placeholder_svg_tag: 'card-img w-full h-full object-cover object-center'}}

            {% endif %}
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collections Card List",
    "class": "collections_card_list",
    "presets": [
      {
        "name": "Collection Card",
        "category": "Collections"
      }
    ]
  }
{% endschema %}
